<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Фильмы</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Все фильмы</h1>
    <div class="row">
        <div class="col">
            <a sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('MANAGER'))" href="films/add"
               class="btn btn-secondary"
               role="button"
               style="float: right"
               aria-disabled="true">Добавить фильм
            </a>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Название фильма</th>
            <th scope="col">Год выпуска фильма</th>
            <th scope="col">Страна выпуска фильма</th>
            <th scope="col">Жанр</th>
            <th scope="col">Режиссеры</th>
            <th sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('MANAGER'))" scope="col">Хотите
                добавить режиссера к фильму?
            </th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="film : ${films}">
            <td th:text="${film.getTitle()}"></td>
            <td th:text="${film.getPremierYear()}"></td>
            <td th:text="${film.getCountry()}"></td>
            <td th:text="${film.getGenre().getGenreTextDisplay()}"></td>
            <td>
                <ul class="no-marker">
                    <!--                    <li th:each="dir : ${film.getDirectors()}" th:text="${dir.getDirectorsFIO()}"></li>-->
                    <li th:each="dir : ${film.getDirectorsDTO()}" th:text="${dir.getDirectorsFIO()}"></li>
                </ul>
            </td>
            <td>
                <form sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('MANAGER'))" th:object="${film}"
                      th:action="@{/films/addDirector}" method="POST">
                    <select name="directorsFIO">
                        <option value="">Выберите режиссера</option>
                        <option th:each="director : ${directors}" th:value="${director.getDirectorsFIO()}"
                                th:text="${director.getDirectorsFIO()}"></option>
                    </select>
                    <input type="hidden" th:name="filmTitle" th:value="${film.getTitle()}"/>
                    <button type="submit">Назначить</button>
                </form>
                <a sec:authorize="hasRole('USER')" class="btn btn-sm btn-outline-success"
                   th:href="'/order/film/' + ${film.id}">Арендовать фильм</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <nav aria-label="Pagination" th:if="${films.totalPages gt 0}">
            <ul class="pagination justify-content-center font-weight-bold">
                <li class="page-item" th:classappend="${films.number eq 0} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/films?page={id}(id=${films.number lt 2 ? 1 : films.number})}"
                       aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${i eq films.number + 1} ? 'active'"
                    th:each="i : ${#numbers.sequence( 1, films.totalPages, 1)}">
                    <a class="page-link" th:href="@{/films?page={id}(id=${i})}" th:text="${i}"
                       th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                </li>
                <li class="page-item" th:classappend="${films.number eq films.totalPages - 1} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/films?page={id}(id=${films.number + 2})}"
                       aria-label="Next" title="Next Page" data-toggle="tooltip">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>

<style>
    .no-marker li {
        list-style-type: none;
    }
</style>